
@{
    ViewBag.Title = "Dailymonitoringsheet";
}


@RenderPage("~/Views/Shared/SibarUser.cshtml")


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        button {
            background: cornflowerblue;
            border: none;
            padding: 10px;
            border-radius: 8px;
            font-family: 'Lato';
            margin: 5px;
            text-transform: uppercase;
            cursor: pointer;
            outline: none;
        }

            button:hover {
                background: orange;
            }

        .bordercolor {
            border: 1px solid black;
            border-radius: 5px;
        }

        .centerContainer {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .item {
            width: 50em;
        }
   
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: auto;
            text-align: center;
            font-family: arial;
        }


        .centerContain {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .border {
            border: 1px solid #dee2e6 !important;
        }

        .p-2 {
            padding: 0.5rem !important;
        }

        legend {
            display: block;
            width: auto;
            margin-bottom: 2px;
            padding-left: 2px;
            padding-right: 2px;
            border: none;
        }

        button:hover {
            background: orange;
        }

        .bordercolor {
            border: 1px solid black;
            border-radius: 5px;
        }

        .centerContainer {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .item {
            width: 50em;
        }


      
        .linkbutton:hover {
            background: #2b8eed;
            color: white;
        }

        .pcenter {
            margin: auto;
            align-items: center;
            justify-content: center;
            padding: 5px;
        }

        .linkbutton {
            border: 1px solid black;
            height: 35px;
            border-radius: 5px;
            text-align: center;
            background-color: #a8a7b9;
            color: white;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
            justify-content: center;
        }
    

        .il {
            color: #dcf588;
        }

        .ilF {
            color: #ffffff;
        }

        .ilF1 {
            color: #00ff90;
        }

        .imagecenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 25%;
        }
    </style>


</head>
<body>


    <div class="centerContainer ">
        <div class="item bordercolor" style="padding: 10px; margin:100px; background-color:azure">
            <h3>Daily Monitoring Sheet</h3>
           <br />
            <div class="row" style="margin-bottom:10px">
               
                <div class="col-md-6">
                    <fieldset class="border p-2">
                        <legend class="w-auto">Period Selection</legend>
                        <div class="row" style="margin-left:4px">
                            <label class="control-label col-md-3">From: </label>
                            <div class="col-md-9">
                                <div class="input-group">

                                    <input type="date" id="fromDateM">
                                </div>
                            </div>
                        </div>
                       <br />
                        <div class="row" style="margin-left:4px">
                            <label class="control-label col-md-3">To: </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="date" id="toDateM" name="toDate">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row" style=" float:right;">

                <button title="Commission Cal." style="margin: 25px; text-transform: capitalize;" class="btn btn-success" onclick="Print();">
                    <i class="fa fa-floppy-o"></i>Preview
                </button>


            </div>

        </div>
    </div>
</body>


</html>