@{
    ViewBag.Title = "Tourplanneduserlist";
}
@RenderPage("~/Views/Shared/Sidebar.cshtml")

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <link href="~/Content/css/custom.max.css" rel="stylesheet">


    <style>
        body {
            color: #566787;
            background: #f5f5f5;
            font-family: 'Varela Round', sans-serif;
            font-size: 13px;
            max-width: 100%;
        }

        .row {
            margin-right: -385px;
            margin-left: -62px;
        }

        .table-responsive {
            margin: 30px 0;
        }

        .nav {
            display: block;
            padding-left: 0;
            margin-bottom: 0;
        }

        .btn {
            border-radius: 3px;
            width: 70px;
            height: 35px;
            padding: 10px;
        }


        .table-title {
            padding-bottom: 15px;
            background: #435d7d;
            color: #fff;
            padding: 16px 30px;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }

            .table-title h2 {
                margin: 5px 0 0;
                font-size: 24px;
            }

            .table-title .btn-group {
                float: right;
            }



            .table-title .btn i {
                float: left;
                font-size: 21px;
                margin-right: 5px;
            }

            .table-title .btn span {
                float: left;
                margin-top: 2px;
            }

        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
            padding: 12px 15px;
            vertical-align: middle;
        }

            table.table tr th:first-child {
                width: 60px;
            }

            table.table tr th:last-child {
                width: 100px;
            }

        table.table-striped tbody tr:nth-of-type(odd) {
            background-color: #fcfcfc;
        }

        table.table-striped.table-hover tbody tr:hover {
            background: #f5f5f5;
        }

        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }

        table.table td:last-child i {
            opacity: 0.9;
            font-size: 22px;
            margin: 0 5px;
        }

        table.table td a {
            font-weight: bold;
            color: #566787;
            display: inline-block;
            text-decoration: none;
            outline: none !important;
        }

            table.table td a:hover {
                color: #2196F3;
            }

            table.table td a.edit {
                color: #FFC107;
            }

            table.table td a.delete {
                color: #F44336;
            }

        table.table td i {
            font-size: 19px;
        }



        .pagination {
            float: right;
            margin: 0 0 5px;
        }

            .pagination li a {
                border: none;
                font-size: 13px;
                min-width: 30px;
                min-height: 30px;
                color: #999;
                margin: 0 2px;
                line-height: 30px;
                border-radius: 2px !important;
                text-align: center;
                padding: 0 6px;
            }

                .pagination li a:hover {
                    color: #666;
                }

            .pagination li.active a, .pagination li.active a.page-link {
                background: #03A9F4;
            }

                .pagination li.active a:hover {
                    background: #0397d6;
                }

            .pagination li.disabled i {
                color: #ccc;
            }

            .pagination li i {
                font-size: 16px;
                padding-top: 6px;
            }



        .calendar-container {
            margin: 30px auto;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 40px;
            width: 1500px;
        }



        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .modal-content-new {
            background-color: #fff;
            padding: 20px;
            width: 1000px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
        }

        .close-new {
            position: absolute;
            top: 50px;
            right: -376px;
            font-size: 20px;
            cursor: pointer;
        }

        textarea {
            width: 100%;
            height: 80px;
            margin-bottom: 10px;
        }


        .fc-basic-view .fc-day-number, .fc-basic-view .fc-week-number {
            padding: 12px;
        }



        #sidebar {
            background-color: #E0F7FD;
            padding: 20px;
            border-right: 1px solid #ccc;
            margin-left: 7px;
        }


        #calendar {
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ccc;
        }


        .modal-content {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .modal-header {
            background-color: #f0f0f0;
            color: #333;
            border-bottom: 1px solid #ccc;
        }

        .modal-body {
            padding: 20px;
        }

        .table-responsive {
            display: block;
            width: 100%;
            overflow-x: clip;
            -webkit-overflow-scrolling: touch;
        }

        .fc-day-grid-event .fc-content {
            white-space: nowrap;
            overflow: hidden;
            color: white;
        }
    </style>
    <title></title>
</head>
<body>


    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="calendar-container">
                <div class="row">
                    <div class="col-md-2">
                        <div id="sidebar"></div>
                    </div>
                    <div class="col-md-7">
                        <div id="calendar"></div>
                    </div>
                </div>



                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Show</button>
                    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="eventTitle"></h4>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="pDetails">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>*@


                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Show</button>
                <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Event Details</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <h4 id="eventTitle"></h4>
                                <div id="pDetails"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
            </div>
        </div>
    </div>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

    @section Scripts{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
        <script>





            $(document).ready(function () {
                var pageSize = 5;
                var currentPage = 1;
                var users;
                var events;

                loadData();

                function loadData() {
                    $.ajax({
                        url: "/Tour/mGetTourPlanRouteList",
                        type: "GET",
                        contentType: 'application/json;charset=utf-8',
                        dataType: "json",
                        success: function (data) {
                            events = [];
                            users = [];
                            $.each(data, function (i, item) {
                                var isoDate = moment(item.strEFFECTIVE_DATE, "DD-MM-YYYY").format("YYYY-MM-DD");

                                events.push({
                                    user: item.strUSER_NAME,
                                    id: item.strEMP_CARD_NO,
                                    title: item.strMARKET_NAME,
                                    description: item.strNOTE,
                                    accompany: item.strACCOMPANY_WITH,
                                    date: isoDate,
                                    color: item.ThemeColor,
                                    allDay: true,
                                    strEFFECTIVE_DATE: isoDate
                                });

                                users.push({
                                    id: item.strEMP_CARD_NO,
                                    name: item.strUSER_NAME
                                });
                            });

                            users.sort(function (a, b) {
                                return a.name.localeCompare(b.name);
                            });

                            renderSidebar();
                            GenerateCalendar(events);
                        },
                        error: function (error) {
                            alert('Failed to load data');
                        }
                    });
                }

                function renderSidebar() {
                    var $sidebar = $('#sidebar');
                    $sidebar.empty();

                    var totalPages = Math.ceil(users.length / pageSize);
                    var startIndex = (currentPage - 1) * pageSize;
                    var endIndex = Math.min(startIndex + pageSize, users.length);

                    var $userList = $('<ul>');

                    for (var i = startIndex; i < endIndex; i++) {
                        var user = users[i];
                        var $userItem = $('<li>').text(user.name + ' (' + user.id + ')').click(function () {
                            var userId = $(this).data('userId');
                            var filteredEvents = events.filter(function (event) {
                                return event.id === userId;
                            });
                            $('#calendar').fullCalendar('removeEvents');
                            $('#calendar').fullCalendar('addEventSource', filteredEvents);
                        }).data('userId', user.id);
                        $userList.append($userItem);
                    }
                    $sidebar.append($userList);

                    var $pagination = $('<div class="pagination">');
                    if (currentPage > 1) {
                        var $prevButton = $('<a href="#">').text('Previous < ').click(function () {
                            currentPage--;
                            renderSidebar();
                        });
                        $pagination.append($prevButton);
                    }
                    for (var page = 1; page <= totalPages; page++) {
                        var $pageLink = $('<a href="#">').text(page).click(function () {
                            currentPage = parseInt($(this).text());
                            renderSidebar();
                        });
                        if (page === currentPage) {
                            $pageLink.addClass('active');
                        }
                        $pagination.append($pageLink);
                    }
                    if (currentPage < totalPages) {
                        var $nextButton = $('<a href="#">').text('  > Next').click(function () {
                            currentPage++;
                            renderSidebar();
                        });
                        $pagination.append($nextButton);
                    }
                    $sidebar.append($pagination);
                }

                function GenerateCalendar(events) {
                    $('#calendar').fullCalendar('destroy');
                    $('#calendar').fullCalendar({
                        contentHeight: 600,
                        defaultView: 'month',
                        header: {
                            left: '',
                            center: '',
                            right: ''
                        },
                        eventLimit: true,
                        eventColor: '#378006',
                        events: events,
                        eventClick: function (calEvent, jsEvent, view) {
                            $('#myModal #eventTitle').text(calEvent.title);

                            var $description = $('<div/>');
                            $description.append($('<p/>').html('<b>Name:</b> ' + calEvent.user));
                            $description.append($('<p/>').html('<b>Employee Card Number:</b> ' + calEvent.id));
                            $description.append($('<p/>').html('<b>Market Name:</b> ' + calEvent.title));
                            $description.append($('<p/>').html('<b>Effective Date:</b> ' + moment(calEvent.strEFFECTIVE_DATE).format("YYYY-MM-DD")));
                            $description.append($('<p/>').html('<b>Note:</b> ' + calEvent.description));
                            $description.append($('<p/>').html('<b>Accompany With:</b> ' + calEvent.accompany));

                            $('#myModal #pDetails').empty().html($description);

                            $('#myModal').modal('show');
                        }
                    });
                }
            });


            //$(document).ready(function () {
            //    var pageSize = 5;
            //    var currentPage = 1;
            //    var users;
            //    var events;

            //    loadData();

            //    function loadData() {
            //        $.ajax({
            //            url: "/Tour/mGetTourPlanRouteList",
            //            type: "GET",
            //            contentType: 'application/json;charset=utf-8',
            //            dataType: "json",
            //            success: function (data) {
            //                events = [];
            //                users = [];
            //                $.each(data, function (i, item) {
            //                    var isoDate = moment(item.strEFFECTIVE_DATE, "DD-MM-YYYY").format("YYYY-MM-DD");

            //                    events.push({
            //                        user: item.strUSER_NAME,
            //                        id: item.strEMP_CARD_NO,
            //                        title: item.strMARKET_NAME,
            //                        description: item.strNOTE,
            //                        accompany: item.strACCOMPANY_WITH,
            //                        date: isoDate,
            //                        color: item.ThemeColor,
            //                        allDay: true,
            //                        strEFFECTIVE_DATE: isoDate
            //                    });

            //                    users.push({
            //                        id: item.strEMP_CARD_NO,
            //                        name: item.strUSER_NAME
            //                    });
            //                });

            //                users.sort(function (a, b) {
            //                    return a.name.localeCompare(b.name);
            //                });

            //                renderSidebar();
            //                GenerateCalendar(events);
            //            },
            //            error: function (error) {
            //                alert('Failed to load data');
            //            }
            //        });
            //    }

            //    function renderSidebar() {
            //        var $sidebar = $('#sidebar');
            //        $sidebar.empty();

            //        var totalPages = Math.ceil(users.length / pageSize);
            //        var startIndex = (currentPage - 1) * pageSize;
            //        var endIndex = Math.min(startIndex + pageSize, users.length);

            //        var $userList = $('<ul>');

            //        for (var i = startIndex; i < endIndex; i++) {
            //            var user = users[i];
            //            var $userItem = $('<li>').text(user.name + ' (' + user.id + ')').click(function () {
            //                var userId = $(this).data('userId');
            //                var filteredEvents = events.filter(function (event) {
            //                    return event.id === userId;
            //                });
            //                $('#calendar').fullCalendar('removeEvents');
            //                $('#calendar').fullCalendar('addEventSource', filteredEvents);
            //            }).data('userId', user.id);
            //            $userList.append($userItem);
            //        }
            //        $sidebar.append($userList);

            //        var $pagination = $('<div class="pagination">');
            //        if (currentPage > 1) {
            //            var $prevButton = $('<a href="#">').text('Previous < ').click(function () {
            //                currentPage--;
            //                renderSidebar();
            //            });
            //            $pagination.append($prevButton);
            //        }
            //        for (var page = 1; page <= totalPages; page++) {
            //            var $pageLink = $('<a href="#">').text(page).click(function () {
            //                currentPage = parseInt($(this).text());
            //                renderSidebar();
            //            });
            //            if (page === currentPage) {
            //                $pageLink.addClass('active');
            //            }
            //            $pagination.append($pageLink);
            //        }
            //        if (currentPage < totalPages) {
            //            var $nextButton = $('<a href="#">').text('  > Next').click(function () {
            //                currentPage++;
            //                renderSidebar();
            //            });
            //            $pagination.append($nextButton);
            //        }
            //        $sidebar.append($pagination);
            //    }

            //    function GenerateCalendar(events) {
            //        $('#calendar').fullCalendar('destroy');
            //        $('#calendar').fullCalendar({
            //            contentHeight: 600,
            //            defaultView: 'month',
            //            header: {
            //                left: '',
            //                center: '',
            //                right: ''
            //            },
            //            eventLimit: true,
            //            eventColor: '#378006',
            //            events: events,
            //            eventClick: function (calEvent, jsEvent, view) {
            //                showEventModal(calEvent);
            //            }
            //        });
            //    }

            //    function showEventModal(event) {
            //        $('#myModal #eventTitle').text(event.title);

            //        var $description = $('<div/>');
            //        $description.append($('<p/>').html('<b>Name:</b> ' + event.user));
            //        $description.append($('<p/>').html('<b>Employee Card Number:</b> ' + event.id));
            //        $description.append($('<p/>').html('<b>Market Name:</b> ' + event.title));
            //        $description.append($('<p/>').html('<b>Effective Date:</b> ' + moment(event.strEFFECTIVE_DATE).format("YYYY-MM-DD")));
            //        $description.append($('<p/>').html('<b>Note:</b> ' + event.description));
            //        $description.append($('<p/>').html('<b>Accompany With:</b> ' + event.accompany));

            //        $('#myModal #pDetails').empty().html($description);

            //        $('#myModal').modal('show');
            //    }

            //    // Event handler for the button
            //    $('#showModalButton').click(function () {
            //        if (events.length > 0) {
            //            showEventModal(events[0]); // Show the modal for the first event as an example
            //        } else {
            //            alert('No events to display');
            //        }
            //    });
            //});




        </script>
    }


</body>
</html>