
@{
    ViewBag.Title = "Adminmarketmonitoringsheet";
}
@RenderPage("~/Views/Shared/SidebarDh.cshtml")
<!DOCTYPE html>
<html lang="en">
<head>


    <title>Deeplaid</title>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

 
    <link rel='stylesheet' href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'>
    <link rel='stylesheet' href='https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css'>
    <link rel='stylesheet' href='https://cdn.datatables.net/buttons/1.5.2/css/buttons.jqueryui.min.css'>
    <link rel='styleshee' t href='https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css'>
    <link rel='stylesheet' href='https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css'>

    <link href="~/Content/css/boxsize.min.css" rel="stylesheet">
    

    <style>

        body {
            color: #566787;
            background-color: #f5f5f5;
        }

        button {
            background: #1abb9c;
            border: none;
            padding: 10px;
            border-radius: 8px;
            font-family: 'Lato';
            margin: 5px;
            text-transform: uppercase;
            cursor: pointer;
            outline: none;
            color:white;
        }

            button:hover {
                background: orange;
            }

       

       

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: auto;
            text-align: center;
            font-family: arial;
        }


        .centerContain {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .border {
            border: 1px solid #dee2e6 !important;
        }

       

        legend {
            display: block;
            width: auto;
            margin-bottom: 2px;
            padding-left: 2px;
            padding-right: 2px;
            border: none;
        }

        button:hover {
            background: #1abb9c;
        }

       

      
        .linkbutton:hover {
            background: #2b8eed;
            color: white;
        }

        .pcenter {
            margin: auto;
            align-items: center;
            justify-content: center;
            padding: 5px;
        }

        .linkbutton {
            border: 1px solid black;
            height: 35px;
            border-radius: 5px;
            text-align: center;
            background-color: #a8a7b9;
            color: white;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
            justify-content: center;
        }

     

        .il {
            color: #dcf588;
        }

        .ilF {
            color: #ffffff;
        }

        .ilF1 {
            color: #00ff90;
        }

        .imagecenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 25%;
        }

        .form-control {
            display: ruby-text;
            width: 40%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: .75rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        .raw {
            margin-right: 30px;
            margin-left: 30px;
            flex-direction: column;
         
        }

        .row {
            display: -ms-flexbox;
            display: grid;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }


        h3{
            margin-top: 10px;
            margin-bottom: 20px;
            margin-left: -15px;
            font-size: 3rem;
        }

        input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
            -webkit-appearance: listbox;
            border: solid 1px;
            width: 215px;
        }


        .table-responsive {
            margin: 10px 0;
        }


        .table-wrapper {
            min-width: 100px;
           padding-left:30px;
            border-radius: 3px;
            
        }






        #selectAll {
            width: 80px;
            height: 50px;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        #searchBox {
            width: 500px;
            height: 30px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid green;
        }

            #searchBox:focus {
                outline: none;
            }

        .button-container {
            display: flexbox;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        .button-container {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
        }

        .search-container {
            text-align: center;
            margin-bottom: 10px;
        }

        .button-container {
            display: inline-block;
            vertical-align: -webkit-baseline-middle;
            margin-right: 10px;
        }

        #box1 {
            width: 500px;
            height: 500px;
            border: 1.5px solid #000;
            border-radius: 5px;
            padding: 5px;
            box-sizing: border-box;
        }

        #box2 {
            width: 500px;
            height: 200px;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            box-sizing: border-box;
            margin-top: 0px;
            overflow-y: scroll;
        }

    


        .mobile-layout .button-container {
            display: block;
        }



        .table-wrapper.desktop-layout {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

            .table-wrapper.desktop-layout .button-container {
                margin-bottom: 0;
                flex: 1 1 100%;
            }

            .table-wrapper.desktop-layout #box1Container,
            .table-wrapper.desktop-layout #box2Container {
                flex: 1 1 calc(50% - 20px);
            }

            .table-wrapper.desktop-layout #selectAllContainer {
                flex: 1 1 100%;
            }

            .table-wrapper.desktop-layout #box1,
            .table-wrapper.desktop-layout #box2 {
                width: calc(50% - 20px);
                margin: 0 10px;
            }

            .table-wrapper.desktop-layout #selectAll {
                width: auto;
            }


        

        label {
            display: inline-block;
            margin-bottom: .5rem;
            width: 100px;
        }



        option {
            display: table-row-group;
        }



        .table-responsive {
            margin: 10px 0;
            overflow-x: unset;
        }



        .table-title {
            padding-bottom: 15px;
            background: #435d7d;
            color: #fff;
            padding: 16px 30px;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }

            .table-title h2 {
                margin: 5px 0 0;
                font-size: 24px;
            }

            .table-title .btn-group {
                float: right;
            }

            .table-title .btn {
                color: #fff;
                float: right;
                font-size: 13px;
                border: none;
                min-width: 50px;
                border-radius: 2px;
                border: none;
                outline: none !important;
                margin-left: 10px;
            }

                .table-title .btn i {
                    float: left;
                    font-size: 21px;
                    margin-right: 5px;
                }

                .table-title .btn span {
                    float: left;
                    margin-top: 2px;
                }

        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
            padding: 12px 15px;
            vertical-align: middle;
        }

            table.table tr th:first-child {
                width: 60px;
            }

            table.table tr th:last-child {
                width: 100px;
            }

        table.table-striped tbody tr:nth-of-type(odd) {
            background-color: #fcfcfc;
        }

        table.table-striped.table-hover tbody tr:hover {
            background: #f5f5f5;
        }

        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }

        table.table td:last-child i {
            opacity: 0.9;
            font-size: 22px;
            margin: 0 5px;
        }

        table.table td a {
            font-weight: bold;
            color: #566787;
            display: inline-block;
            text-decoration: none;
            outline: none !important;
        }

            table.table td a:hover {
                color: #2196F3;
            }

            table.table td a.edit {
                color: #FFC107;
            }

            table.table td a.delete {
                color: #F44336;
            }

        table.table td i {
            font-size: 19px;
        }


        input[type="search"] {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid;
        }

        label {
            display: inline;
            margin-bottom: .5rem;
            width: 100px;
        }


       .checkbox-inline {
            display: table-row;
            padding-left: 20px;
            margin-bottom: 0;
            font-weight: normal;
            vertical-align: middle;
            cursor: pointer;
        }
       
    </style>

</head>
<body>






    <div class="centerContainer" id="multi-data">
        <div class="item bordercolor" style="padding: 40px; margin: 100px; background-color: white; border: solid 1px;">
            <h4 style="margin-bottom:40px">Market Monitoring Sheet</h4>
            <form id="multi-step-form">
                <div id="dividBranch">
                    <label class="control-label">Branch Name</label>
                    <select id="branchSelectnew" class="form-control">
                        <option value="">--Select One--</option>
                        <option value="All">All</option>
                        <option value="0001">Deeplaid Laboratories Ltd.-2024</option>
                        <option value="0002">Sale Center. Dhaka</option>
                        <option value="0003">Herbal</option>
                    </select>
                </div>
                <div id="dividLedgerStatus">
                    <label class="control-label">Status</label>
                    <select id="idLedgerStatus" class="form-control">
                        <option value="">--Select One--</option>
                        <option value="All">All</option>
                        <option value="0">Active</option>
                        <option value="1">Inactive</option>
                    </select>
                </div>
                <br />
                <fieldset class="border p-2">
                    <legend class="w-auto">Period Selection</legend>
                    <div class="row" style="margin-left:4px">
                        <label class="control-label col-md-3">From: </label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="date" id="fromDateM">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left:4px">
                        <label class="control-label col-md-3">To: </label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="date" id="toDateM" name="toDate">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br />
                <div class="container">
                    <div class="table-responsive">
                        <div class="table-wrapper" id="tableWrapper">
                            <div class="button-container" id="box1Container">
                                <div id="dividLedgerStatusOptions" class="row bordercolor">
                                    <div class="col-lg-2">
                                        <div class="row">
                                            <label style="font-size: 15px;">
                                                <input type="radio" name="status" value="0" style="height: 12px; width: 25px; margin-top: 5px"> MPO
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="row">
                                            <label style="font-size: 15px;">
                                                <input type="radio" name="status" value="1" style="height: 12px; width: 25px; margin-top: 5px"> AH
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="row">
                                            <label style="font-size: 15px;">
                                                <input type="radio" name="status" value="2" style="height: 12px; width: 25px; margin-top: 5px"> DH
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="row">
                                            <label style="font-size: 15px;">
                                                <input type="radio" name="status" value="3" style="height: 12px; width: 25px; margin-top: 5px"> ZH
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="row">
                                            <label style="font-size: 15px;">
                                                <input type="radio" name="status" value="4" style="height: 12px; width: 25px; margin-top: 5px"> TH
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="row">
                                            <label style="font-size: 15px;">
                                                <input type="radio" name="status" value=" " style="height: 12px; width: 25px; margin-top: 5px" checked> ALL
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button-container" id="box2Container">
                                <input type="text" id="searchBox" placeholder="Search..."><br />
                                <div id="box2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px" id="Partywisedata">
                    <div class="col-md-12" style="margin-top: 20px; margin-bottom:20px;  margin-left: 30px;">
                        <div class="col-lg-4">
                            <div class="row">
                                <div style="font-size: 15px; font-weight: bold;">
                                    <input type="checkbox" id="idcheckboxTypeGiftSearch" class="checkboxTypeGiftSearch" value="1"> Special Monitor
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div style="font-size: 15px; font-weight: bold;">
                                    <input type="checkbox" id="idcheckboxPartyCoverage" class="checkboxTypePartyCoverage" value="1"> Party Coverage
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div style="font-size: 15px; font-weight: bold;">
                                    <input type="checkbox" id="idcheckboxDetails" class="checkboxDetails" value="1"> Details
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="buttonposition">
                    <div>
                        <button title="Commission Cal." class="btn btn-success" style="margin: 2px; text-transform: capitalize; height: 40px; width: 120px; font-size: 20px;" id="previewButton">
                            <i class="fa fa-spinner" aria-hidden="true"></i> Preview
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>




    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
        }

        .header-table th, .header-table td {
            border: none;
        }

        .sales-header {
            color: green;
            font-size: 18px;
            font-weight: bold;
        }

        .collection-header {
            color: blue;
            font-size: 18px;
            font-weight: bold;
        }

        .credit-limit-header {
            color: red;
            font-size: 18px;
            font-weight: bold;
        }

        .note-section {
            border: 1px solid black;
            width: 20%;
            margin: 0 auto;
        }

            .note-section td {
                color: magenta;
            }

        .company-info {
            text-align: center;
            margin-bottom: 10px;
        }

            .company-info h1 {
                margin: 0;
                font-size: 24px;
            }

            .company-info p {
                margin: 2px 0;
            }

        /*table.dataTable, table.dataTable th, table.dataTable td {
            box-sizing: content-box;
            font-size: 11.5px;
        }*/



        /* General table styles */
        #example {
            width: 100%;
            border-collapse: collapse; /* Ensure cells have no spacing between them */
        }

            #example th, #example td {
                padding: 10px;
                text-align: center;
                border: 1px solid #ccc;
            }

            #example th {
                background-color: #f0f0f0;
                font-weight: bold;
            }

            /* Row hover effect */
            #example tbody tr:hover {
                background-color: #e0e0e0;
            }

            /* First column styling */
            #example tbody td:first-child {
                font-weight: bold;
            }

            /* Column-specific styling */
            #example tbody td:nth-child(3), /* Specific column */
            #example tbody td:nth-child(5) {
                text-align: left; /* Example of left-aligned text */
            }

            /* Custom classes for specific cells */
            #example tbody td.numeric {
                text-align: right;
            }

                #example tbody td.numeric:before {
                    content: "$"; /* Example of adding content before */
                }

       

        /* Scrollable tbody */
        #example tbody {
            max-height: 400px; /* Set a maximum height for scroll */
            overflow-y: auto; /* Enable vertical scrolling */
        }


      

    </style>



    <div class="table-responsive">
        <div class="table-wrapper1">

            <table id="example" class="display nowrap" style="width:100%">
               
           
           
                <thead>

                    <div class="company-info">
                        <h1>Deeplaid Laboratories Ltd. - 2024</h1>
                        <p>53/1, Kaptan Bazar, Wari, Dhaka-1203</p>
                        <p>www.deeplaid.com.bd</p>
                        <h2>Market Monitoring Sheet</h2>                    
                    </div>
                    <tr>
                       
                        <th rowspan="2">TC Code</th>
                        <th rowspan="2">TC Name</th>
                        <th width="10px" rowspan="2">MPO Name</th>
                        <th rowspan="2">Class</th>
                        <th rowspan="2">Opening <br>Balance</th>
                        <th colspan="4" class="sales-header">Sales</th>
                        <th colspan="4" class="collection-header">Collection</th>
                        <th rowspan="2">Closing <br>Balance</th>
                        <th colspan="2" class="credit-limit-header">Credit Limit</th>
                    </tr>
                    <tr>
                        <td class="target">Target</td>
                        <td class="achievement">Achv.</td>
                        <td>Balance</td>
                        <td>Achv.%</td>
                        <td class="target">Target</td>
                        <td class="achievement">Achv.</td>
                        <td>Balance</td>
                        <td>Achv.%</td>
                        <td>Limit</td>
                        <td>Pending <br> Limit</td>
                    </tr>
                </thead>
<tbody class="tbody"></tbody>

               


                <tfoot>
                    <tr>
                        <th colspan="4" style="text-align:right">Total:</th>
                        <th></th> <!-- dblPreviousDues total -->
                        <th></th> <!-- dblCurrentSales total -->
                        <th></th> <!-- dblSpVoucher total -->
                        <th></th> <!-- dblCurrentSales - dblSpVoucher total -->
                        <th></th> <!-- (dblSpVoucher / dblCurrentSales * 100) total -->
                        <th></th> <!-- dblCommitment total -->
                        <th></th> <!-- dblcollecCommi total -->
                        <th></th> <!-- dblCommitment - dblcollecCommi total -->
                        <th></th> <!-- (dblcollecCommi / dblCommitment * 100) total -->
                        <th></th> <!-- dblClosing total -->
                        <th></th> <!-- dblCreditLimit total -->
                        <th></th> <!-- dblPending total -->
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>





    <script src='https://code.jquery.com/jquery-3.5.1.js'></script>
    <script src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js'></script>
    <script src='https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js'></script>
    <script src='https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js'></script>
    <script src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.jqueryui.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js'></script>
    <script src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js'></script>
    <script src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js'></script>
    <script src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js'></script>
    <script src='https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js'></script>



    <script>
       


        $(document).ready(function ($) {
            var table;
            var initialFormData = collectFormData();
            loadData(initialFormData);

            function loadData(formData) {
                $.ajax({
                    url: "/MarketMonitoringSheet/MarketMonitoringSheetList",
                    type: "POST",
                    contentType: 'application/json;charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify(formData),
                    success: function (result) {
                        if (!table) {
                            table = initializeDataTable();
                        }
                        table.clear().rows.add(processData(result)).draw();
                    },
                    error: function (errormessage) {
                        alert('Error: ' + errormessage.responseText);
                    }
                });
            }

            function initializeDataTable() {
                return $('#example').DataTable({
                   


                    buttons: [
            {
                extend: 'csv',
                text: 'CSV',
                messageTop: '53/1, Kaptan Bazar, Wari, Dhaka-1203 <br> www.deeplaid.com.bd<br>Market Monitoring Sheet',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'excel',
                text: 'Excel',
                messageTop: '53/1, Kaptan Bazar, Wari, Dhaka-1203 <br> www.deeplaid.com.bd<br>Market Monitoring Sheet',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdf',
                text: 'PDF',
                orientation: 'landscape',
                pageSize: 'LEGAL',
                messageTop: '53/1, Kaptan Bazar, Wari, Dhaka-1203 <br> www.deeplaid.com.bd<br>Market Monitoring Sheet',
                exportOptions: {
                    columns: ':visible'
                },
                customize: function (doc) {
                    doc.pageSize = 'A3';
                    doc.pageMargins = [20, 20, 20, 20];
                    doc.defaultStyle.fontSize = 10;
                    doc.styles.tableHeader.fontSize = 11;
                    doc.styles.title = {
                        alignment: 'center'
                    };
                }
            },
            {
                extend: 'print',
                text: 'Print',
               
                exportOptions: {
                    columns: ':visible'
                },
                customize: function (win) {
                    $(win.document.body)
                        .css('font-size', '10pt')
                        .prepend(
                            '<div style="text-align:center;"><b>53/1, Kaptan Bazar, Wari, Dhaka-1203</b><br><b>www.deeplaid.com.bd</b><br><b>Market Monitoring Sheet</b></div>'
                        );

                    $(win.document.body).find('table')
                        .addClass('compact')
                        .css('font-size', 'inherit');
                }
            },
            {
                extend: 'print',
                text: 'View',
               
                exportOptions: {
                    columns: ':visible'
                },
                customize: function (win) {
                    $(win.document.body)
                        .css('font-size', '10pt')
                        .prepend(
                            '<div style="text-align:center;"><b>53/1, Kaptan Bazar, Wari, Dhaka-1203</b><br><b>www.deeplaid.com.bd</b><br><b>Market Monitoring Sheet</b></div>'
                        );

                    $(win.document.body).find('table')
                        .addClass('compact')
                        .css('font-size', 'inherit');
                },
                autoPrint: false
            }
                    ],
                    responsive: true,
                    retrieve: true,
                    destroy: true,
                    dom: 'Bfrtip',
                    columns: [
                        { data: 'strTeritorryCode' },
                        { data: 'strTerritory' },
                        {
                            data: 'strMrname',
                            render: function (data) {
                                return data.match(/.{1,18}/g).join('<br>');
                            }
                        },
                        { data: 'strClass' },
                        { data: 'dblPreviousDues' },
                        { data: 'dblCurrentSales' },
                        { data: 'dblSpVoucher' },
                        { data: null, render: function (data) { return (data.dblCurrentSales - data.dblSpVoucher).toFixed(2); } },
                        { data: null, render: function (data) { return (data.dblSpVoucher / data.dblCurrentSales * 100).toFixed(2) + '%'; } },
                        { data: 'dblCommitment' },
                        { data: 'dblcollecCommi' },
                        { data: null, render: function (data) { return (data.dblCommitment - data.dblcollecCommi).toFixed(2); } },
                        { data: null, render: function (data) { return (data.dblcollecCommi / data.dblCommitment * 100).toFixed(2) + '%'; } },
                        { data: 'dblClosing' },
                        { data: 'dblCreditLimit' },
                        { data: null, render: function (data) { return data.dblPending.toFixed(3); } }
                    ],

                    footerCallback: function (row, data, start, end, display) {
                        var api = this.api();

                        var intVal = function (i) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ?
                                i : 0;
                        };

                        totalPreviousDues = api
                            .column(4, { search: 'applied' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        totalCurrentSales = api
                            .column(5, { search: 'applied' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        totalSpVoucher = api
                            .column(6, { search: 'applied' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        totalCurrentSalesMinusSpVoucher = api
                            .column(7, { search: 'applied' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b.dblCurrentSales - b.dblSpVoucher);
                            }, 0);

                        totalSpVoucherPercentage = api
                            .column(8, { search: 'applied' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + parseFloat(b.dblSpVoucher / b.dblCurrentSales * 100);
                            }, 0);

                        totalCommitment = api
                            .column(9, { search: 'applied' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        totalCollecCommi = api
                            .column(10, { search: 'applied' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        totalCommitmentMinusCollecCommi = api
                            .column(11, { search: 'applied' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b.dblCommitment - b.dblcollecCommi);
                            }, 0);

                        totalCollecCommiPercentage = api
                            .column(12, { search: 'applied' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + parseFloat(b.dblcollecCommi / b.dblCommitment * 100);
                            }, 0);

                        totalClosing = api
                            .column(13, { search: 'applied' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        totalCreditLimit = api
                            .column(14, { search: 'applied' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        totalPending = api
                            .column(15, { search: 'applied' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b.dblPending);
                            }, 0);

                        $(api.column(4).footer()).html(totalPreviousDues.toFixed(2));
                        $(api.column(5).footer()).html(totalCurrentSales.toFixed(2));
                        $(api.column(6).footer()).html(totalSpVoucher.toFixed(2));
                        $(api.column(7).footer()).html(totalCurrentSalesMinusSpVoucher.toFixed(2));
                        //$(api.column(8).footer()).html(totalSpVoucherPercentage.toFixed(3) + '%');
                        var averageSpVoucherPercentage = totalSpVoucherPercentage / api.rows({ search: 'applied' }).count();
                        $(api.column(8).footer()).html( averageSpVoucherPercentage.toFixed(3) + '%');
                        $(api.column(9).footer()).html(totalCommitment.toFixed(2));
                        $(api.column(10).footer()).html(totalCollecCommi.toFixed(2));
                        $(api.column(11).footer()).html(totalCommitmentMinusCollecCommi.toFixed(3));
                        //$(api.column(12).footer()).html(totalCollecCommiPercentage.toFixed(3) + '%');
                        var averageCollecCommiPercentage = totalCollecCommiPercentage / api.rows({ search: 'applied' }).count();
                        $(api.column(12).footer()).html(averageCollecCommiPercentage.toFixed(3) + '%');
                        $(api.column(13).footer()).html(totalClosing.toFixed(3));
                        $(api.column(14).footer()).html(totalCreditLimit.toFixed(3));
                        $(api.column(15).footer()).html(totalPending.toFixed(3));
                    },

                    responsive: {
                        details: {
                            renderer: function (api, rowIdx, columns) {
                                var data = $.map(columns, function (col, i) {
                                    return col.hidden ?
                                        '<tr data-dt-row="' + col.rowIndex + '" data-dt-column="' + col.columnIndex + '">' +
                                        '<td>' + col.title + ':' + '</td> ' +
                                        '<td>' + col.data + '</td>' +
                                        '</tr>' : '';
                                }).join('');

                                return data ? $('<table/>').append(data) : false;
                            }
                        }
                    }
                });
            }

            function processData(data) {
                return data.map(function (item) {
                    item.dblCurrentSalesMinusSpVoucher = item.dblCurrentSales - item.dblSpVoucher;
                    item.percentageSpVoucher = (item.dblSpVoucher / item.dblCurrentSales * 100).toFixed(2);
                    item.dblCommitmentMinusCollecCommi = item.dblCommitment - item.dblcollecCommi;
                    item.percentageCollecCommi = (item.dblcollecCommi / item.dblCommitment * 100).toFixed(2);
                    return item;
                });
            }

            function collectFormData() {
                var branchSelect = $('#branchSelectnew').val();
                var idLedgerStatus = parseInt($('#idLedgerStatus').val()) || 0;
                var box2Container = $('#ledgerCheckbox:checked').map(function () {
                    return "'" + $(this).val() + "'";
                }).get().join(', ');

                var fromDateM = $('#fromDateM').val();
                var toDateM = $('#toDateM').val();
                var selectedStatus = $('#dividLedgerStatusOptions input[name="status"]:checked').val();
                var isSpecialMonitor = $('#idcheckboxTypeGiftSearch').is(':checked') ? 1 : 0;
                var isPartyCoverage = $('#idcheckboxPartyCoverage').is(':checked') ? 1 : 0;
                var isDetails = $('#idcheckboxDetails').is(':checked') ? 1 : 0;

                var intDay = totalDays(fromDateM, toDateM);

                var formData = {
                    strBranchID: branchSelect || '',
                    intstatus: idLedgerStatus || 0,
                    strLedger: box2Container || '',
                    gstrUserName: "Deeplaid",
                    strFate: formatDate(fromDateM) || '',
                    strTDate: formatDate(toDateM) || '',
                    intOption: mapStatus(selectedStatus) || 0,
                    intDay: intDay || 0,
                    intUpdDay: 0,
                    intSelection: isSpecialMonitor || 0,
                    intPartyCoverage: isPartyCoverage || 0,
                    intDetails: isDetails || 0
                };

                return formData;
            }

            function formatDate(dateString) {
                var dateParts = dateString.split("-");
                return dateParts[2] + "-" + dateParts[1] + "-" + dateParts[0];
            }

            function totalDays(fromDate, toDate) {
                var date1 = new Date(fromDate);
                var date2 = new Date(toDate);
                var diffTime = Math.abs(date2 - date1);
                var diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                return diffDays;
            }

            function mapStatus(selectedValue) {
                switch (selectedValue) {
                    case "0":
                        return "2";
                    case "1":
                        return "3";
                    case "2":
                        return "4";
                    case "3":
                        return "5";
                    case "4":
                        return "6";
                    default:
                        return "";
                }
            }

            $('#previewButton').click(function (event) {
                event.preventDefault();
                var formData = collectFormData();
                loadData(formData);
                console.log(JSON.stringify(formData, null, 2));
            });
        });


        function Print() {
            var title = 'Deeplaid Laboratories Ltd. - 2024 <br> 53/1, Kaptan Bazar, Wari, Dhaka-1203 <br> www.deeplaid.com.bd<br>Market Monitoring Sheet';
            var table = $('#example').DataTable(); 
            var tableHtml = table.table().container().outerHTML; 

            var printWindow = window.open('', '', 'height=600,width=800');
            printWindow.document.write('<html><head><title>Print Preview</title>');
            printWindow.document.write('<style>body {font-family: Arial, sans-serif;} table {width: 100%; border-collapse: collapse;} table, th, td {border: 1px solid black; padding: 5px;} h1 {text-align: center;}</style>');
            printWindow.document.write('</head><body>');
            printWindow.document.write('<h1>' + title + '</h1>');
            printWindow.document.write(tableHtml);
            printWindow.document.write('</body></html>');
            printWindow.document.close();

            printWindow.onload = function () {
                printWindow.print();
                printWindow.close();
            };
        }




    </script>






    <script>



        function getFirstDateOfMonth() {
            const now = new Date();
            const firstDay = new Date(now.getFullYear(), now.getMonth(), 2);
            return firstDay.toISOString().split('T')[0];
        }


        function getLastDateOfMonth() {
            const now = new Date();
            const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 1);
            return lastDay.toISOString().split('T')[0];
        }


        document.getElementById('fromDateM').value = getFirstDateOfMonth();
        document.getElementById('toDateM').value = getLastDateOfMonth();



        $(document).ready(function () {
            var resultData;

            $.ajax({
                url: "/Type/mGetTypesLedgerList",
                type: "GET",
                contentType: 'application/json;charset=utf-8',
                dataType: "json",
                success: function (result) {
                    resultData = result;

                    function populateDropdowns(branchId, ledgerStatus) {
                        var filteredResult = resultData.filter(function (item) {
                            return (branchId === '' || item.intBRANCH_ID === parseInt(branchId)) &&
                                (ledgerStatus === '' || item.intLEDGER_STATUS === parseInt(ledgerStatus));
                        });

                        function getcheckData() {
                            var selectedValue = $('input[name="status"]:checked').val();

                            var filteredOptions = new Set();

                            if (!selectedValue || selectedValue === '4') {
                                filteredResult.forEach(function (item) {
                                    filteredOptions.add(item.strTEAM_NAME);
                                });
                            } else if (selectedValue === '0') {
                                filteredResult.forEach(function (item) {
                                    filteredOptions.add(item.strLEDGER_NAME_MERZE);
                                });
                            } else if (selectedValue === '1') {
                                filteredResult.forEach(function (item) {
                                    filteredOptions.add(item.strAREA);
                                });
                            } else if (selectedValue === '2') {
                                filteredResult.forEach(function (item) {
                                    filteredOptions.add(item.strDIVISION);
                                });
                            } else if (selectedValue === '3') {
                                filteredResult.forEach(function (item) {
                                    filteredOptions.add(item.strZONE);
                                });
                            }

                            displayOptions(filteredOptions);
                        }

                        //function displayOptions(optionsSet) {
                        //    $('#box2').empty();
                        //    optionsSet.forEach(function (option) {
                        //        $('#box2').append('<div class="option-item"><input type="checkbox" value="' + option + '" id="ledgerCheckbox" /><span> ' + option + '</span></div>');
                        //    });
                        //}

                        function displayOptions(optionsSet) {
                            var optionsArray = Array.from(optionsSet).sort();

                            $('#box2').empty();

                            $('#box2').append('<div class="option-item"><input type="checkbox" class="selectAllCheckbox" /><span>Select All</span></div>');

                            optionsArray.forEach(function (option) {
                                $('#box2').append('<div class="option-item"><input type="checkbox" value="' + option + '" id="ledgerCheckbox" /><span>' + option + '</span></div>');
                            });

                            
                            $('.selectAllCheckbox').change(function () {
                                var isChecked = $(this).prop('checked');
                                $('#box2 input[type="checkbox"]').prop('checked', isChecked);
                            });
                        }

                        function filterOptions() {
                            var searchTerm = $('#searchBox').val().toLowerCase();
                            $('#box2 .option-item').each(function () {
                                var text = $(this).text().toLowerCase();
                                $(this).toggle(text.includes(searchTerm));
                            });
                        }

                        getcheckData();

                        $('#branchSelectnew, #idLedgerStatus').change(function () {
                            populateDropdowns($('#branchSelectnew').val(), $('#idLedgerStatus').val());
                        });

                        $('input[name="status"]').change(function () {
                            getcheckData();
                        });

                        $('#searchBox').on('input', function () {
                            filterOptions();
                        });
                    }

                    populateDropdowns($('#branchSelectnew').val(), $('#idLedgerStatus').val());
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });

            function Print() {
                alert('Print button clicked');
            }
        });


       



    </script>

</body>





</html>