
@{
    ViewBag.Title = "DoctorVisitPlan";
}

@RenderPage("~/Views/Shared/SidebarDh.cshtml")
<h2>DoctorVisitPlan</h2>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">