
@{
    ViewBag.Title = "PrescriptionList";
}

@RenderPage("~/Views/Shared/SidebarDh.cshtml")


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deeplaid</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>



    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alumuko/vanilla-datetimerange-picker@latest/dist/vanilla-datetimerange-picker.css">

    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/alumuko/vanilla-datetimerange-picker@latest/dist/vanilla-datetimerange-picker.js"></script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>


    <link href="~/Content/css/custom.max.css" rel="stylesheet">



    <style>
        body {
            color: #566787;
            background: #f5f5f5;
            /*font-family: 'Varela Round', sans-serif;*/
            font-size: 13px;
            max-width: 100%;
        }

        .table-responsive {
            margin: 10px 0;
        }

        .nav {
            display: ruby-text;
            padding-left: 0;
            margin-bottom: 0;
        }

        /*.btn {
            border-radius: 3px;
            width: 70px;
            height: 35px;
            padding: 10px;
        }*/


        /*.table-wrapper {
            min-width: 1450px;
            background: #fff;
            padding: 20px 25px;
            margin-left:250px;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }*/

        .table-title {
            padding-bottom: 15px;
            background: #435d7d;
            color: #fff;
            padding: 16px 30px;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }

            .table-title h2 {
                margin: 5px 0 0;
                font-size: 24px;
            }

            .table-title .btn-group {
                float: right;
            }

            .table-title .btn {
                color: #fff;
                float: right;
                font-size: 13px;
                border: none;
                min-width: 50px;
                border-radius: 2px;
                border: none;
                outline: none !important;
                margin-left: 10px;
            }

                .table-title .btn i {
                    float: left;
                    font-size: 21px;
                    margin-right: 5px;
                }

                .table-title .btn span {
                    float: left;
                    margin-top: 2px;
                }

        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
            padding: 12px 15px;
            vertical-align: middle;
        }

            table.table tr th:first-child {
                width: 60px;
            }

            table.table tr th:last-child {
                width: 100px;
            }

        table.table-striped tbody tr:nth-of-type(odd) {
            background-color: #fcfcfc;
        }

        table.table-striped.table-hover tbody tr:hover {
            background: #f5f5f5;
        }

        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }

        table.table td:last-child i {
            opacity: 0.9;
            font-size: 22px;
            margin: 0 5px;
        }

        table.table td a {
            font-weight: bold;
            color: #566787;
            display: inline-block;
            text-decoration: none;
            outline: none !important;
        }

            table.table td a:hover {
                color: #2196F3;
            }

            table.table td a.edit {
                color: #FFC107;
            }

            table.table td a.delete {
                color: #F44336;
            }

        table.table td i {
            font-size: 19px;
        }

        table.table .avatar {
            border-radius: 10%;
            vertical-align: middle;
            margin-right: 10px;
            display: inline-block;
            height: 60px;
            width: 300px;
        }

        .pagination {
            float: right;
            margin: 0 0 5px;
        }

            .pagination li a {
                border: none;
                font-size: 13px;
                min-width: 30px;
                min-height: 30px;
                color: #999;
                margin: 0 2px;
                line-height: 30px;
                border-radius: 2px !important;
                text-align: center;
                padding: 0 6px;
            }

                .pagination li a:hover {
                    color: #666;
                }

            .pagination li.active a, .pagination li.active a.page-link {
                background: #03A9F4;
            }

                .pagination li.active a:hover {
                    background: #0397d6;
                }

            .pagination li.disabled i {
                color: #ccc;
            }

            .pagination li i {
                font-size: 16px;
                padding-top: 6px;
            }

        .hint-text {
            float: left;
            margin-top: 10px;
            font-size: 13px;
        }
        /* Custom checkbox */
        .custom-checkbox {
            position: relative;
        }

            .custom-checkbox input[type="checkbox"] {
                opacity: 0;
                position: absolute;
                margin: 5px 0 0 3px;
                z-index: 9;
            }

            .custom-checkbox label:before {
                width: 18px;
                height: 18px;
            }

            .custom-checkbox label:before {
                content: '';
                margin-right: 10px;
                display: inline-block;
                vertical-align: text-top;
                background: white;
                border: 1px solid #bbb;
                border-radius: 2px;
                box-sizing: border-box;
                z-index: 2;
            }

            .custom-checkbox input[type="checkbox"]:checked + label:after {
                content: '';
                position: absolute;
                left: 6px;
                top: 3px;
                width: 6px;
                height: 11px;
                border: solid #000;
                border-width: 0 3px 3px 0;
                transform: inherit;
                z-index: 3;
                transform: rotateZ(45deg);
            }

            .custom-checkbox input[type="checkbox"]:checked + label:before {
                border-color: #03A9F4;
                background: #03A9F4;
            }

            .custom-checkbox input[type="checkbox"]:checked + label:after {
                border-color: #fff;
            }

            .custom-checkbox input[type="checkbox"]:disabled + label:before {
                color: #b8b8b8;
                cursor: auto;
                box-shadow: none;
                background: #ddd;
            }

        /*Modal styles*/


        .modal .modal-dialog {
            max-width: 400px;
        }

        .modal .modal-header, .modal .modal-body, .modal .modal-footer {
            padding: 20px 30px;
        }

        .modal .modal-content {
            border-radius: 3px;
            width:900px;
        }

        .modal .modal-footer {
            background: #ecf0f1;
            border-radius: 0 0 3px 3px;
        }

        .modal .modal-title {
            display: inline-block;
        }

        .modal .form-control {
            border-radius: 2px;
            box-shadow: none;
            border-color: #dddddd;
        }

        .modal textarea.form-control {
            resize: vertical;
        }

        .modal .btn {
            border-radius: 2px;
            min-width: 100px;
        }

        .modal form label {
            font-weight: normal;
        }

        mark {
            background-color: white;
            color: #319AF8;
            font-weight: normal;
        }



        .toggle {
            cursor: pointer;
            display: inline-block;
        }

        .toggle-switch {
            display: inline-block;
            background: #ccc;
            border-radius: 16px;
            width: 40px;
            height: 15px;
            position: relative;
            vertical-align: middle;
            transition: background 0.25s;
        }

            .toggle-switch:before, .toggle-switch:after {
                content: "";
            }

            .toggle-switch:before {
                display: block;
                background: linear-gradient(to bottom, #fff 0%, #eee 100%);
                border-radius: 50%;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
                width: 15px;
                height: 15px;
                position: absolute;
                left: 4px;
                transition: left 0.25s;
            }

        .toggle:hover .toggle-switch:before {
            background: linear-gradient(to bottom, #fff 0%, #fff 100%);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
        }

        .toggle-checkbox:checked + .toggle-switch {
            background: #56c080;
        }

            .toggle-checkbox:checked + .toggle-switch:before {
                left: 30px;
            }

        .toggle-checkbox {
            position: absolute;
            visibility: hidden;
        }

        .toggle-label {
            margin-left: 5px;
            position: relative;
            top: 2px;
        }

        .rotate-icon {
            transform: rotate(90deg);
            transition: transform 0.3s ease;
        }


        #spinner {
            display: none;
            /* Add your spinner styles here */
            position: fixed;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            z-index: 9999;
        }


        .nav-link.active.custom-color p {
            color: white;
            background-color: #0069d9;
        }


        .dropdown-menu {
            background-color: #ffffff;
        }

        div:where(.swal2-container) .swal2-select {
            min-width: 48%;
            max-width: 90%;
            margin-right: 5px;
            padding: .375em .625em;
            background: rgba(0, 0, 0, 0);
            color: inherit;
            font-size: 1.125em;
            border: 1px solid green;
        }



        .pending-row {
            background-color: #ffeeba;
        }



        input[type="date"] {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 10px;
        }

        button {
            padding: 8px 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 4px;
        }


        .modal-dialog {
            right: auto;
            left: 0%;
            width: 600px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

    </style>


    <script>


         
        $(document).ready(function () {
            $('.nav-link').on('click', function () {

                $('.nav-link').removeClass('active');


                $(this).addClass('active');


                $('.nav-link').removeClass('custom-color');


                $(this).addClass('custom-color');
            });


            $('.nav-link.active').addClass('custom-color');
        });


        $(document).ready(function () {
            $('#select_all').on('click', function () {
                if (this.checked) {
                    $('.checkbox').each(function () {
                        this.checked = true;
                    });
                } else {
                    $('.checkbox').each(function () {
                        this.checked = false;
                    });
                }
            });

            $('.checkbox').on('click', function () {
                if ($('.checkbox:checked').length == $('.checkbox').length) {
                    $('#select_all').prop('checked', true);
                } else {
                    $('#select_all').prop('checked', false);
                }
            });
        });



        function toggleDropdownMenu(event) {
            event.stopPropagation();
            var dropdownMenu = event.target.nextElementSibling;
            dropdownMenu.style.display = (dropdownMenu.style.display === 'none') ? 'block' : 'none';
            var ellipsisIcon = document.getElementById('ellipsisIcon');
            ellipsisIcon.classList.toggle('rotate-icon'); 
        }

        document.addEventListener('click', function(event) {
            var dropdownMenus = document.querySelectorAll('.dropdown-menu');
            dropdownMenus.forEach(function(menu) {
                if (menu.style.display === 'block') {
                    menu.style.display = 'none';
                    var ellipsisIcon = document.getElementById('ellipsisIcon');
                    ellipsisIcon.classList.remove('rotate-icon'); 
                }
            });
        });

    </script>



</head>
<body>



    <div class="container">





        @*<script>





            window.addEventListener("load", function (event) {
                new DateRangePicker('datetimerange-input1', {
                    timePicker: true,
                    opens: 'left',
                    ranges: {
                        'This Month': [moment().startOf('month').startOf('day'), moment().endOf('month').endOf('day')],
                    },
                    locale: {
                        format: "YYYY-MM-DD",
                    }
                }, function (start, end) {
                    var strATTEN_DATEINFROM = start.format("YYYY-MM-DD");
                    var strATTEN_DATEINTO = end.format("YYYY-MM-DD");

                    console.log('Selected Date Range:', strATTEN_DATEINFROM, 'to', strATTEN_DATEINTO);

                    fetchDataFromAPI(strATTEN_DATEINFROM, strATTEN_DATEINTO);
                });
            });

            function fetchDataFromAPI(strATTEN_DATEINFROM, strATTEN_DATEINTO) {
                $.ajax({
                    url: '/Attendence/mGetDateRange',
                    method: 'POST',
                    data: {
                        strATTEN_DATEINFROM: strATTEN_DATEINFROM,
                        strATTEN_DATEINTO:  strATTEN_DATEINTO
                    },
                    success: function (data) {
                        console.log('Data received from the API:', data);
                        updateUIWithData(data);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching data from the API:', error);
                        console.log('XHR Status:', xhr.status);
                        console.log('XHR Response Text:', xhr.responseText);
                    }
                });
            }

            function updateUIWithData(data) {
                console.log('Fetched data:', data);
            }





        </script>*@

        

       

        <div class="table-responsive">
            <div class="table-wrapper">
                <h4>Prescription List</h4>

                <ul class="nav nav-tabs" role="tablist">
                 
                    <li class="nav-item">
                        <a href="#" class="nav-link active" id="btnShowAll"><p class="btn btn-light">All</p></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="btnShowApproved"><p class="btn btn-light">Approved</p></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="btnShowPending"><p class="btn btn-light">Pending</p></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="btnShowRejected"><p class="btn btn-light">Reject</p></a>
                    </li>

                    @*<li class="nav-item">
            <a href="#" class="nav-link"><p class="btn btn-light"><input type="checkbox" id="select_all"> Select All</p></a>
        </li>


        <li class="nav-item">
            <a href="#" class="btnUpdateBtn" data-vist-id="' + item.intATTEN_SERIAL + '" data-actions-id="' + item.strACTION + '"><button class="nav-link" id="approveButton" style="display: none;">Approve</button></a>
        </li>
        <li class="nav-item">
            <a href="#" class="btnUpdateBtn" data-vist-id="' + item.intATTEN_SERIAL + '" data-actions-id="' + item.strACTION + '"> <button class="nav-link" id="rejectButton" style="display: none;"> Reject</button></a>
        </li>*@



                    @*<li class="nav-item" style="float: right">




                        <input type="text" id="datetimerange-input1" size="40" style="text-align:center; border:solid 1px; width:160px;">
                    </li>


                    <li class="nav-item" style="float: right; margin-right:20px;">



                        <label class="toggle">
                            <input class="toggle-checkbox" type="checkbox">
                            <div class="toggle-switch" id="btnShowIncludeReject" onclick="return all()">  </div>
                            <span class="toggle-label">Include Reject</span>


                        </label>

                    </li>*@
                </ul>



                <div class="tab-pane active" id="tabs-1" role="tabpanel">


                    <p class="container">


                        <table class="table table-bordered table-hover" id="idshifttable">
                            <thead>
                                <tr>
                                    @*<th>

                                        <input type="checkbox" id="select_all" onclick='selects()'>

                                    </th>*@
                                    <th>Id</th>
                                    <th>Image</th>
                                    <div id="myModal" class="modal">
                                        <span class="close">&times;</span>
                                        <img class="modal-content" id="img01">
                                        <div id="caption"></div>
                                    </div>
                                    <th>Products</th>
                                    <th>Doctor</th>
                                    @*<th>Institute</th>*@
                                    <th>User</th>
                                    <th>Market	</th>
                                    <th>Captured At	</th>
                                    <th>Location	</th>
                                    <th>Status</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody class="tbody">
                                @*<div class="spinner-border text-primary" role="status">
                                    <span id="spinner" class="visually-hidden"><i class="fas fa-spinner fa-spin fa-4x"></i></span>
                                </div>*@
                            </tbody>
                        </table>
                    </p>


                </div>

                <div class="clearfix" style="float:right">


                    <a href="#" class="btn btn-primary btnPrevious" id="paginationPrevious">&laquo; Previous</a>
                    <a href="#" class="btn btn-primary btnNext" id="paginationNext">Next &raquo;</a>





                </div>

                <br /><br /><br />
            </div>
        </div>
    </div>






    <script>


             
        //$(document).ready(function () {

        //    function updateSelectAllCheckbox(status) {
        //        if (status === "Pending") {
        //            $('#select_all').show();
        //        } else {
        //            $('#select_all').hide();
        //        }
        //    }


        //    loadData('all');
        //    $('.select_all').hide();
        //    $('#approveButton').hide();
        //    $('#rejectButton').hide();
        //    $('#select_all').hide();


        //    $('#select_all').on('click', function () {
        //        var isChecked = $(this).prop('checked');
        //        $('.select_all').prop('checked', isChecked);

        //        if (isChecked) {
        //            $('#approveButton').show();
        //            $('#rejectButton').show();
        //        } else {
        //            $('#approveButton').hide();
        //            $('#rejectButton').hide();
        //        }
        //    });


        //    $('#btnShowRejected').on('click', function () {
        //        loadData('reject');
        //        $('.select_all').hide();
        //        updateSelectAllCheckbox('');
        //    });

        //    $('#btnShowApproved').on('click', function () {
        //        loadData('approve');
        //        $('.select_all').hide();
        //        updateSelectAllCheckbox('');
        //    });

        //    $('#btnShowAll').on('click', function () {
        //        loadData('all');
        //        $('.select_all').hide();
        //        updateSelectAllCheckbox('');
        //    });

        //    $('#btnShowPending').on('click', function () {
        //        loadData('pending');
        //        updateSelectAllCheckbox('Pending');
        //        $('.select_all').show();
        //    });
        //});

        //function filterDataByDateRange() {
        //    var fromDate = new Date($('#fromDateInput').val()); 
        //    var toDate = new Date($('#toDateInput').val());
        //    loadData('all', fromDate, toDate); 
        //}








        $(document).ready(function () {
            loadData('all');
        });

        var currentPage = 1;
        var currentStatus = 'all';

        //function showSpinner() {
        //    $('#spinner').show();
        //}

        //function hideSpinner() {
        //    $('#spinner').hide();
        //}

        function loadData(status, page = 1, pageSize = 15) {
            var startIndex = (page - 1) * pageSize;
            var endIndex = startIndex + pageSize;

            //showSpinner();

            $.ajax({
                url: "/Prescription/mGetPrescriptionList",
                type: "GET",
                contentType: 'application/json;charset=utf-8',
                dataType: "json",
                success: function (result) {
                    //hideSpinner();
                    result.sort(function (a, b) {
                        return new Date(b.strINSERT_DATE) - new Date(a.strINSERT_DATE);
                    });

                    var slicedData = result.slice(startIndex, endIndex);

                    var html = '';
                    $.each(slicedData, function (key, item) {
                        if (status === 'all' || item.strSTATUS.toLowerCase() === status) {
                            var modalId = 'exampleModal' + item.strIMG_ID; 

                            html += '<tr>';
                            //html += '<td> <input type="checkbox" class="checkbox" value="1"/> </td>';
                            html += '<td>' + item.strIMG_ID + '</td>';
                            html += '<td>';
                            html += '<div class="row "><div class="col-sm-4" id="gallery" data-toggle="modal" data-target="#' + modalId + '"> <img src="data:image/png;base64,' + item.strPRESCRIPTION_IMG + '" class="avatar img-fluid" alt="Avatar"></div></div>';
                            html += '<div class="modal fade" id="' + modalId + '" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body"> <div class="carousel-inner"><div class="carousel-item active"> <img src="data:image/png;base64,' + item.strPRESCRIPTION_IMG + '" class="img-fluid mx-auto d-block" style="max-width: 100%; max-height: 80%;" ></div></div></div><div class="modal-footer" > <h5 style="margin-right: 50px " >' + item.strEMP_CARD_NO + '  |  ' + item.strUSER_NAME + '  </h3> </div> </div></div> </div> </td>';
                            html += '<td>' + item.strPRODUCTS + '</td>';
                            html += '<td>' + item.strDOCTOR + '</td>';
                            //html += '<td>' + item.strINSTITUTION + '</td>';
                            html += '<td ><div class="h-25 d-inline-block" style="width: 150px;">' + item.strUSER_NAME + '-' + item.strTERITORRY_CODE + ' <br>Code:  ' + item.strEMP_CARD_NO + ' </div></td>';
                            html += '<td ><div class="h-25 d-inline-block" style="width: 150px;">' + item.strMARKET_NAME + ' <br>Code:  ' + item.strTERITORRY_CODE + ' </div></td>';
                            html += '<td>  <div class="h-25 d-inline-block" style="width: 150px;">' + item.strINSERT_DATE + '</div></td>';
                            html += '<td>  <a href="https://www.google.com/maps/search/'  + item.strLATITUDE +', '+item.strLONGITUDE +'" onclick="Show(' + item.strLATITUDE + +item.strLONGITUDE + ')" target="_blank"><mark>' + item.strMARKET_NAME + ' </mark></button></a> </mark> </td>';
                            html += '<td>' + item.strSTATUS + '</td>';

                           
                            //html += '<td> <div class="dropdown"><button class="dropdown-content" type="button" onclick="toggleDropdownMenu(event)"><i id="ellipsisIcon" class="fa fa-ellipsis-v" aria-hidden="true"></i></button><ul class="dropdown-menu" style="display: none;"><li><a href="#" id="btnUpdate" onclick="return Update('+item.strIMG_ID+')">Approve</a></li><li><a href="#" id="btnUpdate1" onclick="return Update1('+item.strIMG_ID+')">Reject</a></li></ul></div></td>';
         
                            html += '<td><a href="#" class="btnUpdateBtn" data-vist-id="' + item.strIMG_ID + '"  data-Actions-id="' + item.strSTATUS + '"><button type="button" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button></a></td>';

                           
                            html += '</tr>';
                        }
                    });

                    $('.tbody').html(html);
                    updatePaginationControls(page, pageSize, result.length);
                },
                error: function (errormessage) {
                    //hideSpinner();
                    alert(errormessage.responseText);
                }
            });
        }

            $('#btnShowAll').on('click', function () {
                loadData('all');
            });

            $('#btnShowApproved').on('click', function () {
                loadData('approve');
            });

            $('#btnShowRejected').on('click', function () {
                loadData('reject');
            });

            $('#btnShowPending').on('click', function () {
                loadData('pending');
            });

            $('#btnShowIncludeReject').on('click', function () {
                loadData('all');
            });

            function updatePaginationControls(currentPage, pageSize, totalItems) {
                var totalPages = Math.ceil(totalItems / pageSize);
                $('#paginationPrevious').prop('disabled', currentPage === 1);
                $('#paginationNext').prop('disabled', currentPage === totalPages);
            }

            $('#paginationPrevious').on('click', function () {
                currentPage--;
                loadData(currentStatus, currentPage);
            });

            $('#paginationNext').on('click', function () {
                currentPage++;
                loadData(currentStatus, currentPage);
            });

            $('#btnShowAll').on('click', function () {
                currentStatus = 'all';
                currentPage = 1;
                loadData(currentStatus, currentPage);
            });

            $('#paginationPrevious').on('click', function () {
                if (currentPage > 1) {
                    currentPage--;
                    loadData(currentStatus, currentPage);
                }
            });

            $('#paginationNext').on('click', function () {
                var totalPages = calculateTotalPages();
                if (currentPage < totalPages) {
                    currentPage++;
                    loadData(currentStatus, currentPage);
                }
            });










            function switchStyle() {
                if (document.getElementById('styleSwitch').checked) {
                    document.getElementById('gallery').classList.add("custom");
                    document.getElementById('exampleModal').classList.add("custom");
                } else {
                    document.getElementById('gallery').classList.remove("custom");
                    document.getElementById('exampleModal').classList.remove("custom");
                }
            }








            //function Update(strIMG_ID) {


            //    $('#btnUpdate').show();
            //    //$('#btnUpdate1').show();

            //    var Obj = {


            //        strIMG_ID: strIMG_ID,
            //        strACTION: "Approve",



            //    };



            //    $.ajax({
            //        url: "/Prescription/mUpdateConfig",
            //        data: JSON.stringify(Obj),
            //        type: "POST",
            //        contentType: "application/json;charset=utf-8",
            //        dataType: "json",
            //        success: function (result) {
            //            loadData();
            //            $('#myModal').modal('hide');
            //            $('#strIMG_ID').val("");
            //            $('#strAction').val("");

            //            location.reload();

            //        },
            //        error: function (errormessage) {
            //            alert(errormessage.responseText);
            //        }
            //    });
            //}



            //function Update1(strIMG_ID) {


            //    $('#btnUpdate1').show();





            //    var Obj = {


            //        strIMG_ID: strIMG_ID,
            //        strACTION: "Reject",



            //    };




            //    $.ajax({
            //        url: "/Prescription/mUpdateConfig" ,
            //        data: JSON.stringify(Obj),
            //        type: "POST",
            //        contentType: "application/json;charset=utf-8",
            //        dataType: "json",
            //        success: function (result) {
            //            loadData();
            //            $('#myModal').modal('hide');

            //            $("#strIMG_ID").append(result.strIMG_ID);
            //            $('#strIMG_ID').val("");
            //            $('#strAction').val("");
            //            //$('#strEMP_CARD_NO').val("");
            //            //$('#strACTION').val("");

            //            location.reload();

            //        },
            //        error: function (errormessage) {
            //            alert(errormessage.responseText);
            //        }
            //    });
            //}


               
            $(document).on("click", ".btnUpdateBtn", function () {
                var vistID = $(this).data("vist-id");
                var Actions = $(this).data("actions-id");

                Swal.fire({
                    title: 'Update Information',
                    html: '<div>Actions:  <select id="swal-input2" class="swal2-select">'  +
                            '<option value="Approve"' + (Actions === "Approve" ? ' selected' : '') + '>Approve</option>' +
                            '<option value="Reject"' + (Actions === "Reject" ? ' selected' : '') + '>Reject</option>' +
                            '<option value="Pending"' + (Actions === "Pending" ? ' selected' : '') + '>Pending</option>' +
                            '</select></div>',
                    inputPlaceholder: 'Select action',
                    showCancelButton: true,
                    allowOutsideClick:false,
                    confirmButtonText: 'Update',
                    cancelButtonText: 'Cancel',
                    preConfirm: () => {
                        //const typeName = document.getElementById('swal-input1').value;
                        const actions = document.getElementById('swal-input2').value;

                //if (!typeName) {
                //    return Swal.showValidationMessage('Type Name is required');
                //} else if (!/[a-zA-Z]/.test(typeName)) {
                //    return Swal.showValidationMessage('Type Name should contain at least one alphabet character');
                //}

                if (!actions) {
                    return Swal.showValidationMessage('Actions is required');
                }

                return { actions: actions };
            }
            }).then((result) => {
                if (result.isConfirmed) {
                var typeName = result.value.typeName;
        var actions = result.value.actions;

        $.ajax({
            url: "/Prescription/mUpdateConfig",
            type: "POST",
            data: JSON.stringify({ strIMG_ID: vistID, strACTION: actions }),
            contentType: 'application/json;charset=utf-8',
            success: function (response) {
                Swal.fire({
                    title: "Success!",
                    text: "Action updated successfully!",
                    icon: "success"
                }).then(() => {
                    location.reload();
            });
        },
        error: function (err) {
            Swal.fire({
                title: "Error!",
                text: "Error updating action: " + err.responseText,
                icon: "error"
            });
        }
        });
        }
        });
        });






    </script>







</body>
</html>

